{% extends 'base.html' %}

{% block content %}

<!--Flask Flashed Messages to the User-->
<div class="container">
    {% with messages = get_flashed_messages(with_categories = true) %}
        {% if messages %}
            {% for cat, msg in messages %}
                {% if cat == 'user-created' %}
                    <div class="alert alert-success" role="alert">
                        {{ msg }}
                        <button type="button" class="close" data-bs-dismiss= "alert">&times;</button>
                    </div>
                {% elif cat == 'auth-success' %}
                    <div class="alert alert-success" role="alert">
                        {{ msg }}
                        <button type="button" class="close" data-bs-dismiss= "alert">&times;</button>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}    
    {% endwith %}
</div>

<div class="container smallerone">

    <header class="row">

        <div class="col-12" id="header-text">
            
            <h1 class="display-1 "><strong>The Super-Hero Repository</strong></h1>

        </div>

    </header>
<!--Beginning of Middle Text-->
    <section class='row'>

        <div class="col-12" id="middle-text">
            <h1>Build your imagination with all the info that is out there, in here!</h1>
        </div>
    </section>

    <section class="row quote1">
        <blockquote class="blockquote">
            <h4>"I am Iron Man"</h4> 
        </blockquote>     
        <figcaption class="blockquote-footer">  
            <h5>- RIP Tony Stark</h5>
        </figcaption>  
    </section>













</div>



{% endblock content %}