{% extends 'base.html' %}

{% block content %}

<!--Flask Flashed Messages to the User-->
<div class="container">
    {% with messages = get_flashed_messages(with_categories = true) %}
        {% if messages %}
            {% for cat, msg in messages %}
                {% if cat == 'user-created' %}
                    <div class="alert alert-success" role="alert">
                        {{ msg }}
                        <button type="button" class="close" data-bs-dismiss= "alert">&times;</button>
                    </div>
                {% elif cat == 'auth-success' %}
                    <div class="alert alert-success" role="alert">
                        {{ msg }}
                        <button type="button" class="close" data-bs-dismiss= "alert">&times;</button>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}    
    {% endwith %}
</div>

<div class="container">

    <header class="row">

        <div class="col-12" id="header-text">
            
            <h1 class="display-1 "><strong>Every Body Has a Story</strong></h1>

        </div>

    </header>
<!--Beginning of Middle Text-->
    <section class='row'>

        <div class="col-12" id="middle-text">
            <h1>It's time to tell your story, see its value, and make it matter!</h1>
        </div>
    </section>

    <section class="row quote1">
        <blockquote class="blockquote">
            <p>"I didn't realize the importance of putting all of my thoughts an worries into words, <br>and the joy of sharing with others through my experiences."</p> 
        </blockquote>     
        <figcaption class="blockquote-footer">  
            <p>-Sandra K, New Jersey</p>
        </figcaption>  
    </section>













</div>



{% endblock content %}